@font-face {
  font-family: "Avenir Next";
  src: "/font/AvenirNext.ttc"
}


:root {
  --primary-color: black;
  --secondary-color: #D3072A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
  scroll-behavior: smooth;

}

iframe {
  border: none;
}

.pointer {
  cursor: pointer;
  cursor: pointer;

}

.container {
  height: 100vh;
}

.bg-image {
  background-image: url(./img/javier-grixo-p1opmw12wvk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}


header {
  z-index: 10;
}


.header-menu-closed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.header-menu-opened {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.mb-menu {
  background-size: contain;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1rem;
  transform-origin: center;
  transition: transform 0.5s;
  margin: 0.5rem;
}


.menu-icon-closed {
  background-image: url(./icons-logo/menu-closed.svg);
  animation: rotateMenuBack 0.5s ease-in-out forwards 1;

}

.menu-icon-open {
  animation: rotateMenu 0.5s ease-in-out forwards 1;
  background-image: url(./icons-logo/menu-open.svg);
}

@keyframes rotateMenu {

  100% {
    transform: scale(1.1, 1.1) rotate(360deg);
  }
}

@keyframes rotateMenuBack {

  100% {
    background-image: url(./icons-logo/menu-closed.svg);
    transform: scale(1, 1) rotate(-360deg);
  }
}

.logo {
  height: 100vh;
  position: absolute;
  object-fit: contain;
  padding: 0.5rem 0.3rem;
}

/* NAVIGATION */

.d-none {
  display: none;

}


.navigation {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #000000e0;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: slideInFromRight 0.5s linear forwards;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
}


.menu-item {
  border-bottom: 1px solid var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-name {
  animation: textArrive 0.6s linear forwards 1;
  transition: font-size 0.5s;
  transform-origin: center;
}

a {
  text-decoration: none;
  color: white;
}

.menu-item-name:hover {
  font-size: 2rem;
}

@keyframes textArrive {

  0% {
    transform: translateX(100%);
  }

  90% {
    transform: skew(50deg);
  }

  100% {
    transform: skew(0);
  }
}

/*About page  */
.aboutContainer {
  height: 100vh;

  color: white;
  background-image: linear-gradient(to right, #131212cc, #060603);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.videoAboutHuset {
  margin: 2rem 0;
  width: 250px;
  height: 200px;
}

h1 {
  padding: 2rem 1rem;
  text-align: center;
}

.textAboutHuset {
  transition: height 0.5s linear;
  height: 100vh;

}

.textAboutHusetCollapsed {
  height: 265px;
  overflow: hidden;
}

.textAboutHusetExpanded {
  height: fit-content;
}

.readmore {
  margin: 1.5rem 0 5rem 0;
  text-decoration: underline;

}

/* Volunteering */


.vlunteeringContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #24195dc9;
  color: white;
}


.volunteeringInformationMenu {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.text {
  padding: 0 0 3rem 0;
}

/* CONTACT FORM */
/*  */


form span.contact-form-title {
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0;
}


.generalVolunteeringInformation {
  display: block;
  height: 450px;
}

.informationContainer {
  display: grid;
  grid-template-rows: 450px;
  margin-top: 3rem;
  grid-gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(3, 100%);
  overflow: scroll;
}



.wrap-contact {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 300px;
  height: 40px;
  margin: 0.5rem 0;
}

textarea.input {
  height: 8rem;
  margin: 3rem 0;
}

.contact-form {
  margin: 3rem 0;
}

.contact-form-btn {
  color: black;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.5rem;
  background-color: azure;
}


.generalVolunteeringInformation h3 {
  margin-bottom: 2rem;
}

/* Events */

.eventsContainer {
  color: white;
  padding: 1rem;
}

.eventInfoContainer {
  padding: 0.5rem;
}

.event {
  grid-template-columns: repeat(2, 1fr);
  /* display: grid; */
  grid-gap: 0 1rem;
  margin: 1rem;
  background-color: black;
  margin: 50px 0.5rem 130px 0.5rem;
  will-change: max-height;
}



.eventExtrainformationContainer {
  grid-column: span 2;
  background-color: black;
  overflow: hidden;
  transition: max-height .5s ease-in-out;

}

.eventHeightfit {
  max-height: 0;
}



.eventHeightExpand {
  animation: expandEventInfo .5s ease 1 forwards;
}


@keyframes expandEventInfo {
  from {
    max-height: 0;
  }

  to {
    max-height: fit-content;
  }

}


.eventImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.volunteerBtn {
  color: white;
  color: white;
  background: cornflowerblue;
  border: none;
  height: 2rem;
}


.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.filter {
  position: fixed;
  height: 100%;
  background-color: #000000eb;
  z-index: 13;
  top: 0;

  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.checkboxName {
  display: inline;
  font-size: 1.5rem;
}

label {
  font-size: 1.5rem;
  font-size: 2rem;
  font-family: "Avenir Next", sans-serif;
  font-weight: bold;

}

.checkboxContainer {
  /* margin: 1rem 0; */
  font-size: 1rem;
}



.dateRange {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  display: grid;
}

.hide {
  display: none;
}


.filterByDate {
  width: 200px;
  height: 30px;
  margin: 1rem;
}


.filterIcon {
  grid-area: 1/2/ span 1/ span 1;
  justify-self: flex-end;
  height: 2rem;
  background-color: white;
  margin-right: 1rem;
}

.aside {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.aside h1 {
  grid-area: 1/1/ span 1/span 2;
  text-align: center;
}

input[type=date] {
  background-color: white;
  color: grey;
  height: 2rem;
  width: 200px;
  margin: 1rem 0;
}

.filterBtnsCon {
  display: flex;
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.filterBtns {
  width: 170px;
  height: 60px;
  font-size: 1.5rem;
  border: none;
  color: white;
}

.submitBtn {
  background-color: #005924;
}

.clear {
  background-color: rgb(157, 157, 156);
  /* text-decoration: underline; */

}



.dot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dot {
  background-color: #ffffff78;
  height: 1rem;
  width: 1rem;
}

.dont-active {
  box-shadow: 10px 10px 10px inset;
}

/* .textContainerAnimation {
  animation: shifttext 1s 2s linear forwards 3;
}

@keyframes shifttext {
  100% {
    transform: translateX(-100%);
  }
} */

.textContainerVolunteering {
  transition: transform 3s;
}

/* log in */


.logInForm {
  height: 100vh;
  background-color: #5f9ea0c7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logInForm input[type=text],
.logInForm input[type=password] {
  background-image: none !important;
}

.logInInput {
  width: 240px;
  height: 50px;
  margin: 1rem;
  font-size: 1.3rem;
  border: none;
}

.logInForm input[type=submit] {
  background: green;
  margin: 3rem 0 0 0;
  height: 50px;
  width: 240px;
  border: none;
  font-size: 2rem;
}


.logInForm img {
  width: 10rem;
  margin: 3rem;
}

.userPage {
  height: 100vh;
  /* padding: 1rem; */
}